<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>
        {% block titulo %}
        FakePinterest
        {% endblock %}
    </title>
    </head>

{% block body %}
<body>

<h1>FakePinterest com Flask</h1>

<h2>Bem-vindo ao FakePinterest!</h2>

{% block formulario %}
<form method="POST">
    {{ form.csrf_token }}
    {{ form.email.label() }} {{ form.email(size=32) }}<br>
    {{ form.senha.label() }} {{ form.senha(size=32) }}<br>
    {{ form.submit() }}

</form>
{% endblock %}

</body>
{% endblock %}
</html>